{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "no-process-exit": "off",
    "radix": "off",
    "node/no-missing-import": ["error"],
    "node/no-missing-require": ["error"],
    "node/no-unsupported-features/es-syntax": 0
  }
}
